$primary-color: #FF9533;
$secondary-color: #FF5836;
$primary-bgc: #FFE9E1;

@import './components/searchTrackBox';
@import './components/searchItem';
@import './components/trackList';
@import './components/player';
@import './components/searchButtons';
@import './components/selectedTrack';
@import './components/recentSearches';
@import './components/layout';
@import './components/errorMessage';






