.search-btns-box {

    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    color: $primary-color;

    button {
        background-color: transparent;
        border: none;
        font-size: 25px;
        margin: 5px;
        transition: all 0.3s ease-in-out;
        color: $primary-color;

        &:hover {
            color: $secondary-color;
        }
    }
}

.next-btn {


    &:hover {
        transform: scale(1.05);
    }
}